.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2rem;
  }
}

.homepage_div_gameboard {
  height: 25rem;
  width: 25rem;

  @media screen and (max-width: 27rem) {
    height: 17rem;
    width: 17rem;
  }
}
