@import "../../../../variables.scss";

.pagination {
  margin: $margin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pagination_grid_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
