//colors
$background-color: #f6f6eb;
$black-color: #1a1b1d;
$white-color: #faf8f6;
$button-color: #f5d5cb;
$button-color-hover: #f3ddf2;
$button-color-disabled: #cfcfc4;
$select-background-color: #fcfcf9;
$dropdown-color: #f5ecdb;
$win-color: #b2e49d;
$draw-color: #ccbeb7;
$navbar-color: #f5ecdb;

//paddings
$input-padding: 0.4rem 1.8rem 0.4rem 0.6rem;
$button-padding: 0.5rem 2rem;
$pagination-button-padding: 0.6rem;

//font
$input-font-size: 0.9rem;
$font: "Varela Round", sans-serif;

//border-styling
$border: 1px solid $black-color;
$radius: 3px;

//margin
$margin: 1.2rem;
$pagination-button-margin: 0.2rem;

//dimenosion
$navbar-height: 3rem;
